In [1]:
import pandas as pd
from datetime import datetime
import sqlite3

In [2]:
!ls

Jawwad Data Cleaned.ipynb Marshall's Notebook.ipynb Untitled.ipynb
Kyongmin - Notebook.ipynb README.md                 zippedData

In [3]:
movie_info = pd.read_csv('./zippedData/rt.movie_info.tsv.gz',sep='\t')

In [4]:
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [5]:
def clean_genre(row):
    if isinstance(row,str):
        genres = row.split("|")
    else:
        genres = None
    return genres

In [6]:
movie_info["cleaned_genre"] = movie_info['genre'].apply(clean_genre)

In [7]:
movie_info = movie_info.explode('cleaned_genre')

In [8]:
movie_info

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,cleaned_genre
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,Action and Adventure
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,Classics
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,Drama
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,Drama
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,Science Fiction and Fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,Action and Adventure
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,Art House and International
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,Comedy
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,Drama
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures,Mystery and Suspense

In [9]:
def clean_runtime(row):
    if isinstance(row,str):
        runtime = int(row.split(" ")[0])
    else:
        runtime = None
    return runtime

In [10]:
movie_info["cleaned_runtime"] = movie_info['runtime'].apply(clean_runtime)

In [11]:
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,cleaned_genre,cleaned_runtime
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,Action and Adventure,104.0
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,Classics,104.0
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,Drama,104.0
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,Drama,108.0
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,Science Fiction and Fantasy,108.0

In [12]:
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3581 entries, 0 to 1559
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3581 non-null   int64
 1   synopsis         3479 non-null   object
 2   rating           3578 non-null   object
 3   genre            3573 non-null   object
 4   director         3138 non-null   object
 5   writer           2560 non-null   object
 6   theater_date     2872 non-null   object
 7   dvd_date         2872 non-null   object
 8   currency         724 non-null    object
 9   box_office       724 non-null    object
 10  runtime          3529 non-null   object
 11  studio           1062 non-null   object
 12  cleaned_genre    3573 non-null   object
 13  cleaned_runtime  3529 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 419.6+ KB

In [13]:
movie_info.groupby(['cleaned_genre']).agg({"cleaned_runtime":"mean"}).reset_index()

                  cleaned_genre  cleaned_runtime
0          Action and Adventure       105.655462
1                     Animation        86.723404
2               Anime and Manga        86.000000
3   Art House and International       108.692308
4                      Classics       107.445596
5                        Comedy       101.932110
6                   Cult Movies        99.750000
7                   Documentary        91.194030
8                         Drama       108.791805
9        Faith and Spirituality       109.090909
10              Gay and Lesbian       105.000000
11                       Horror        94.200000
12              Kids and Family        96.505155
13  Musical and Performing Arts       104.969072
14         Mystery and Suspense       105.431373
15                      Romance       110.590909
16  Science Fiction and Fantasy       101.573964
17             Special Interest        84.293103
18           Sports and Fitness       101.500000
19                   Television       111.173913
20                      Western       102.437500

In [14]:
def clean_box_office(row):
    if isinstance(row,str):
        box_office = int(row.replace(',',''))
    else:
        box_office = None
    return box_office

In [15]:
movie_info["cleaned_box_office"] = movie_info['box_office'].apply(clean_box_office)

In [16]:
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3581 entries, 0 to 1559
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3581 non-null   int64
 1   synopsis            3479 non-null   object
 2   rating              3578 non-null   object
 3   genre               3573 non-null   object
 4   director            3138 non-null   object
 5   writer              2560 non-null   object
 6   theater_date        2872 non-null   object
 7   dvd_date            2872 non-null   object
 8   currency            724 non-null    object
 9   box_office          724 non-null    object
 10  runtime             3529 non-null   object
 11  studio              1062 non-null   object
 12  cleaned_genre       3573 non-null   object
 13  cleaned_runtime     3529 non-null   float64
 14  cleaned_box_office  724 non-null    float64
dtypes: float64(2), int64(1), object(12)
memory usage: 447.6+ KB

In [17]:
movie_info.groupby(['cleaned_genre']).agg({"cleaned_box_office":"mean"}).reset_index()

                  cleaned_genre  cleaned_box_office
0          Action and Adventure        6.232875e+07
1                     Animation        5.619246e+07
2               Anime and Manga                 NaN
3   Art House and International        2.222098e+06
4                      Classics        6.750000e+06
5                        Comedy        4.191096e+07
6                   Cult Movies        1.390000e+07
7                   Documentary        1.185648e+07
8                         Drama        2.825376e+07
9        Faith and Spirituality        5.380785e+06
10              Gay and Lesbian                 NaN
11                       Horror        2.638568e+07
12              Kids and Family        5.469997e+07
13  Musical and Performing Arts        1.092591e+07
14         Mystery and Suspense        4.255492e+07
15                      Romance        4.826660e+07
16  Science Fiction and Fantasy        8.094787e+07
17             Special Interest        3.101610e+06
18           Sports and Fitness        2.124168e+07
19                   Television        1.345684e+07
20                      Western        1.443617e+07

In [18]:
def clean_theater_date(row):
    if isinstance(row,str):
        theater_date = row.replace(',','')
        theater_date = datetime.strptime(theater_date,'%b %w %Y')
    else:
        theater_date = None
    return theater_date

In [19]:
movie_info["cleaned_theater_date"] = movie_info['theater_date'].apply(clean_theater_date)

ValueError: time data 'Oct 9 1971' does not match format '%b %w %Y'

In [53]:
rt_reviews = pd.read_csv('./zippedData/rt.reviews.tsv.gz',sep='\t',encoding='unicode_escape')

In [202]:
rt_reviews['fresh'].isna().sum()

0

In [82]:
rt_reviews['rating'].value_counts().head(20)

3/5      4327
4/5      3672
3/4      3577
2/5      3160
2/4      2712
2.5/4    2381
3.5/4    1777
3.5/5    1289
5/5      1237
B        1163
1/5      1113
1.5/4    1095
4/4       995
2.5/5     992
B+        832
1/4       822
B-        821
C         779
C+        665
4.5/5     567
Name: rating, dtype: int64

In [199]:
alpha_reviews = rt_reviews[rt_reviews['rating'].str.isalpha()==True]
alpha_reviews['rating'].shape

(2780,)

In [205]:
numeric_reviews = rt_reviews[rt_reviews['rating'].str.contains('A|B|C|D|F|N|R|T')==False]
numeric_reviews['rating'].value_counts().head(20)

3/5      4327
4/5      3672
3/4      3577
2/5      3160
2/4      2712
2.5/4    2381
3.5/4    1777
3.5/5    1289
5/5      1237
1/5      1113
1.5/4    1095
4/4       995
2.5/5     992
1/4       822
4.5/5     567
7/10      522
8/10      505
6/10      468
1.5/5     405
5/10      351
Name: rating, dtype: int64

In [184]:
numeric_reviews['rating'] = numeric_reviews['rating'].str.replace('3 1/2','3.5')
numeric_reviews['rating'].unique()

<ipython-input-184-0a0d0e7f3f4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_reviews['rating'] = numeric_reviews['rating'].str.replace('3 1/2','3.5')

array(['3/5', '2/5', '2/4', '3/4', '4/5', '4/4', '6/10', '1/4', '8',
       '2.5/4', '4/10', '2.0/5', '3/10', '7/10', '5/5', '3.5/4', '1.5/4',
       '3.5/5', '8/10', '9/10', '2.5/5', '7.5/10', '5.5/10', '1.5/5',
       '1/5', '5/10', '0/5', '6', '0.5/4', '3.1/5', '3/6', '4.5/5', '0/4',
       '2/10', '7', '1/10', '3', '4.0/4', '9.5/10', '2.5', '2.1/2',
       '6.5/10', '3.7/5', '8.4/10', '9', '1', '7.2/10', '2.2/5', '0.5/10',
       '5', '0', '2', '4.5', '7.7', '5.0/5', '8.5/10', '3.0/5', '0.5/5',
       '1.5/10', '3.0/4', '2.3/10', '4.5/10', '4/6', '3.5', '8.6/10',
       '6/8', '2.0/4', '2.7', '4.2/10', '5.8', '4', '7.1/10', '5/4',
       '3.5/10', '5.8/10', '4.0/5', '0/10', '5.0/10', '5.9/10', '2.4/5',
       '1.9/5', '4.9', '7.4/10', '1.5', '2.3/4', '8.8/10', '4.0/10',
       '2.2', '3.8/10', '6.8/10', '7.3', '7.0/10', '3.2', '4.2', '8.4',
       '5.5/5', '6.3/10', '7.6/10', '8.1/10', '3.6/5', '2/6', '7.7/10',
       '1.8', '8.9/10', '8.9', '8.2/10', '8.3/10', '2.6/6', '4.1/10',
       '2.5/10', '6.0/10', '1.0/4', '7.9/10', '8.7/10', '4.3/10',
       '9.6/10', '9.0/10', '4.0', '1.7', '7.9', '6.7', '8.0/10', '9.2/10',
       '5.2', '5.9', '3.7', '4.7', '6.2/10', '1/6', '8.2', '2.6/5', '3.4',
       '9.7', '3.3/5', '3.8/5', '1/2', '7.4', '4.8', '1.6/5', '2/2',
       '1-5', '1.0', '4.3/5', '5/6', '9.2', '2.7/5', '4.9/10', '3.0',
       '3.1', '7.8/10', '2.3/5', '3.0/10', '3/2', '7.8', '4.2/5', '9.0',
       '7.3/10', '4.4/5', '6.9/10', '0/6', '6.2', '3.3', '9.8', '8.5',
       '1.0/5', '4.1', '7.1'], dtype=object)

In [174]:
x='3.1'
print(x.isdigit())
row = numeric_reviews['rating'][0]
if row.count('/')==1:
    num = int(float(row.split("/")[0]))
    print(num)
    den = int(row.split('/')[1])
    print(den)
    rating = num/den
else:
    rating=None
rating

False
3
5

0.6

In [175]:
def clean_rating(row):
    if isinstance(row,str):
        if row.count('/')==1:
            num = int(float(row.split("/")[0]))
            den = int(row.split('/')[1])
            rating = num/den
        else:
            rating = row
    else:
        rating = None
    return rating

In [190]:
numeric_reviews["cleaned_rating"] = numeric_reviews['rating'].apply(clean_rating)

<ipython-input-190-7740424a8c34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_reviews["cleaned_rating"] = numeric_reviews['rating'].apply(clean_rating)

In [191]:
numeric_reviews['cleaned_rating'].describe()

count     34447.0
unique       70.0
top           0.6
freq       6159.0
Name: cleaned_rating, dtype: float64

In [194]:
rt_reviews['cleaned_rating']

0        0.6
1        NaN
2        NaN
3        NaN
4        NaN
        ...
54427    NaN
54428    0.2
54429    0.4
54430    0.4
54431    0.6
Name: cleaned_rating, Length: 54432, dtype: object